* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.container {
    width: 80%;
    margin: auto;
}

.header-section {
    background-color: #ad88c6;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
}

.main-section {
    background-color: #e1afd1;
    padding-top: 60px;
    padding-bottom: 60px;
}

.discription {
    display: flex;
    gap: 67px;
}

nav {
    width: 1100px;
    background-color: #ffe6e6;
    margin-top: 64px;
    margin-bottom: 20px;
    border-radius: 5px;
}

nav ul li {
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
    border-radius: 5px;
}

.blog ul li:hover {
    background: #ad88c6;
    transition: ease 0.5s;
}

nav ul {
    padding: 10px;
}

nav ul .nth {
    margin-bottom: 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
}

p {
    text-align: justify;
    margin-bottom: 10px;
}

.image {
    width: 283px;
    height: 189px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

.footer-section {
    background-color: #7469b6;
    padding-top: 33px;
    padding-bottom: 33px;
}

.footer-section h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #DCD6F7;
}

/* ========================== practice 2 responsive ======================== */